<%= form_for(@detail_class) do |f| %>
  <% if @detail_class.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@detail_class.errors.count, "error") %> prohibited this detail_class from being saved:</h2>

      <ul>
      <% @detail_class.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :client_id %><br>
    <%= f.text_field :client_id %>
  </div>
  <div class="field">
    <%= f.label :header_class_id %><br>
    <%= f.text_field :header_class_id %>
  </div>
  <div class="field">
    <%= f.label :subscription_id %><br>
    <%= f.text_field :subscription_id %>
  </div>
  <div class="field">
    <%= f.label :state %><br>
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label :comment %><br>
    <%= f.text_area :comment %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
