<p id="notice"><%= notice %></p>

<p>
  <strong>Client:</strong>
  <%= @detail_class.client %>
</p>

<p>
  <strong>Subscription:</strong>
  <%= @detail_class.subscription %>
</p>

<p>
  <strong>State:</strong>
  <%= @detail_class.state %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @detail_class.comment %>
</p>

<%= link_to 'Edit', edit_detail_class_path(@detail_class) %> |
<%= link_to 'Back', detail_classes_path %>
