<p id="notice"><%= notice %></p>

<h1>Listing Clients</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Last name</th>
      <th>Identification card</th>
      <th>Gender</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Birthday</th>
      <th>Address</th>
      <th>Country</th>
      <th>Province</th>
      <th>City</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.name %></td>
        <td><%= client.last_name %></td>
        <td><%= client.identification_card %></td>
        <td><%= client.gender %></td>
        <td><%= client.phone %></td>
        <td><%= client.email %></td>
        <td><%= client.birthday %></td>
        <td><%= client.address %></td>
        <td><%= client.country %></td>
        <td><%= client.province %></td>
        <td><%= client.city %></td>
        <td><%= link_to 'Show', client %></td>
        <td><%= link_to 'Edit', edit_client_path(client) %></td>
        <td><%= link_to 'Destroy', client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Client', new_client_path %>
