<%= form_for(@header_class) do |f| %>
  <% if @header_class.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@header_class.errors.count, "error") %> prohibited this header_class from being saved:</h2>

      <ul>
      <% @header_class.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :start_time %><br>
    <%= f.text_field :start_time %>
  </div>
  <div class="field">
    <%= f.label :end_time %><br>
    <%= f.text_field :end_time %>
  </div>
  <div class="field">
    <%= f.label :maximum_capacity %><br>
    <%= f.number_field :maximum_capacity %>
  </div>
  <div class="field">
    <%= f.label :registered %><br>
    <%= f.number_field :registered %>
  </div>
  <div class="field">
    <%= f.label :service_id %><br>
    <%= f.text_field :service_id %>
  </div>
  <div class="field">
    <%= f.label :shcedules_id %><br>
    <%= f.text_field :shcedules_id %>
  </div>
  <div class="field">
    <%= f.label :teacher %><br>
    <%= f.text_field :teacher %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
