<p id="notice"><%= notice %></p>

<h1>Listing Shcedules</h1>

<table>
  <thead>
    <tr>
      <th>Start time</th>
      <th>End time</th>
      <th>Days</th>
      <th>Start hour</th>
      <th>End hour</th>
      <th>User</th>
      <th>Service</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shcedules.each do |shcedule| %>
      <tr>
        <td><%= shcedule.start_time %></td>
        <td><%= shcedule.end_time %></td>
        <td><%= shcedule.days %></td>
        <td><%= shcedule.start_hour %></td>
        <td><%= shcedule.end_hour %></td>
        <td><%= shcedule.user %></td>
        <td><%= shcedule.service %></td>
        <td><%= link_to 'Show', shcedule %></td>
        <td><%= link_to 'Edit', edit_shcedule_path(shcedule) %></td>
        <td><%= link_to 'Destroy', shcedule, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shcedule', new_shcedule_path %>
