<p id="notice"><%= notice %></p>

<p>
  <strong>Start time:</strong>
  <%= @shcedule.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @shcedule.end_time %>
</p>

<p>
  <strong>Days:</strong>
  <%= @shcedule.days %>
</p>

<p>
  <strong>Start hour:</strong>
  <%= @shcedule.start_hour %>
</p>

<p>
  <strong>End hour:</strong>
  <%= @shcedule.end_hour %>
</p>

<p>
  <strong>User:</strong>
  <%= @shcedule.user %>
</p>

<p>
  <strong>Service:</strong>
  <%= @shcedule.service %>
</p>

<%= link_to 'Edit', edit_shcedule_path(@shcedule) %> |
<%= link_to 'Back', shcedules_path %>
