<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @product_quantity.product %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @product_quantity.quantity %>
</p>

<p>
  <strong>Subtotal:</strong>
  <%= @product_quantity.subtotal %>
</p>

<p>
  <strong>Sale:</strong>
  <%= @product_quantity.sale %>
</p>

<%= link_to 'Edit', edit_product_quantity_path(@product_quantity) %> |
<%= link_to 'Back', product_quantities_path %>
