<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @sale.date %>
</p>

<p>
  <strong>Hour:</strong>
  <%= @sale.hour %>
</p>

<p>
  <strong>Client:</strong>
  <%= @sale.client %>
</p>

<p>
  <strong>User:</strong>
  <%= @sale.user %>
</p>

<p>
  <strong>Subtotal:</strong>
  <%= @sale.subtotal %>
</p>

<p>
  <strong>Iva:</strong>
  <%= @sale.iva %>
</p>

<p>
  <strong>Total effective:</strong>
  <%= @sale.total_effective %>
</p>

<p>
  <strong>Total card:</strong>
  <%= @sale.total_card %>
</p>

<p>
  <strong>Total checks:</strong>
  <%= @sale.total_checks %>
</p>

<p>
  <strong>Nota:</strong>
  <%= @sale.nota %>
</p>

<%= link_to 'Edit', edit_sale_path(@sale) %> |
<%= link_to 'Back', sales_path %>
